NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/company-parser
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
WORKER_CONCURRENCY=1
WORKER_LOCK_DURATION_MS=300000
WORKER_STALLED_INTERVAL_MS=60000
WORKER_MAX_STALLED_COUNT=3
DEFAULT_PHONE_REGION=UA
PUPPETEER_HEADLESS=true
PUPPETEER_EXECUTABLE_PATH=
PUPPETEER_BLOCK_HEAVY_RESOURCES=true
GOOGLE_MAPS_MIN_DELAY_MS=3000
GOOGLE_MAPS_MAX_DELAY_MS=5000
GOOGLE_MAPS_MAX_RESULTS=250
GOOGLE_MAPS_PARSE_DETAILS=true
GOOGLE_MAPS_DETAILS_CONCURRENCY=3
GOOGLE_MAPS_ENRICH_WEBSITES=true
GOOGLE_SEARCH_ENRICH_MISSING_WEBSITES=true
GOOGLE_SEARCH_MAX_COMPANIES=40
GOOGLE_SEARCH_RESULTS_PER_COMPANY=10
GOOGLE_SEARCH_CONCURRENCY=2
WEBSITE_ENRICH_MAX_PER_JOB=150
WEBSITE_PARSE_CONCURRENCY=6
WEBSITE_CONTACT_CONCURRENCY=4
EXCLUDE_CHAINS=true
CHAIN_MAX_SAME_NAME_PER_JOB=2
CHAIN_DENYLIST=kfc,mcdonald,mc donald,макдональдс,макдоналдс,макдональдз,макдональд,пузата хата,puzata hata,puzatahata,burger king,starbucks,domino,pizza hut,subway,hesburger
EXCLUDED_CATEGORIES=shopping mall,mall,shopping center,shopping centre,trade center,retail park,hotel,supermarket,grocery store,gas station,market,hypermarket,convenience store,food court,delivery service,wholesale,трц,тц,торговий центр,торговый центр
INSTAGRAM_USERNAME=
INSTAGRAM_PASSWORD=
INSTAGRAM_MAX_REQUESTS_PER_MINUTE=20
LOG_LEVEL=info
ADMIN_PORT=3000
